In [4]:
li = []
print(li)
print(type(li))

li1 = [1,2,3,4,5,1,7,0]
print(li1)
print(type(li1))

# build in functions uses in list
print(len(li1))
print(sorted(li1))
print(min(li1))
print(max(li1))

#check exist a element inside the list
print(2 in li1)
print(9 in li1)
print(2 not in li1)
print(6 not in li1)

[]
<class 'list'>
[1, 2, 3, 4, 5, 1, 7, 0]
<class 'list'>
8
[0, 1, 1, 2, 3, 4, 5, 7]
0
7
True
False
False
True

In [7]:
li2 = ['k','e','b','e','p','i','c','n','i','c','h','a','b','a']
li3 =['m','u','50','d','e','b','i','a','j','i']

print(li3)

['m', 'u', '50', 'd', 'e', 'b', 'i', 'a', 'j', 'i']

In [10]:
print(True == 0)
print(True == 1)
print(False == 0)
print(False == 1)
print(True == 5)

False
True
True
False
False

In [21]:
# li_t1 = [1,2,3,4,5]
# li_t1 = [1,2,3,4,0]
# li_t1 = [1,2,3,4,False]
# li_t1 = [1,2,3,4,'']
# li_t1 = [1,2,3,4,'a']
# li_t1 = [1,2,3,4,' ']
# li_t1 = [1,2,3,4,[]]
# li_t1 = [1,2,3,4,{}]
li_t1 = [1,2,3,4,'&']
# li_t1 = [1,2,3,4,()]
print(all(li_t1))

True

In [24]:
# li_t1 = [1,2,3,4,5]
# li_t1 = [0,False,{},[],(),'',1]
li_t1 = [0,False,{},[],(),'']

print(any(li_t1))

False

In [33]:
# se = set({
#     "name":"ashok sahu"
# })
# se = dict({
#     "name":"ashok sahu"
# })
se = (1,2,3,4)

lis = list(se)
print(lis)
print(type(lis))

# print(type(se))
# print(se)

[1, 2, 3, 4]
<class 'list'>

In [36]:
li4 = [1,2,3,4,5,6,7,8,9,10]
print(li4)
print(type(li4))

print(li4[0]) # 1
print(li4[1]) #2
print(li4[2])#3
print(li4[3])#4
print(li4[4])#5
print(li4[5])#6
print(li4[6])#7
print(li4[7])#8
print(li4[8])#9
print(li4[9])#10
# print(li4[10])#out of range
print(li4[-1])#out of range

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>
1
2
3
4
5
6
7
8
9
10
10

In [ ]:
li4 = [1,2,3,4,5,6,7,8,9,10]