In [ ]:
str1,str2,str3,str4 = '',"",'''''',"""""";
str1,str2,str3,str4 = 'a',"b",'''c''',"""d""";
print(str1)
print(id(str1))
print(type(str1))

print(str2)
print(id(str2))
print(type(str2))

print(str3)
print(id(str3))
print(type(str3))

print(str4)
print(id(str4))
print(type(str4))

In [4]:
single_quote_str = 'i am a single quote variable' #valid
single_quote_in_str = 'i am a single quote' variable' #invalid
single_quote_in_r_str = 'i am a single quote\' variable' #valid
single_quote_in_dual_str = 'i am a single quote" variable' #valid

dual_quote_str = "i am a single quote variable" #valid
dual_quote_in_str = "i am a single quote" variable" #invalid
dual_quote_in_r_str = "i am a single quote\" variable" #valid
dual_quote_in_single_str = "i am a single quote' variable" #valid

print({single_quote_str,single_quote_in_str,single_quote_in_r_str,single_quote_in_dual_str})
print({single_quote_str,single_quote_in_str,single_quote_in_r_str,single_quote_in_dual_str})

SyntaxError: unterminated string literal (detected at line 2) (1863495743.py, line 2)

In [ ]:
len_str = 'ashok '
print(len_str)
print(len(len_str))

In [ ]:
max_str = 'ashok'
print(max_str)
print(max(max_str))
print(min(max_str))

In [42]:
# your_name = 'ashok sahu'

# str of number ==== '12' === int('12') === int

# your_name = int(input('enter your name'))
# print(your_name)
# print(type(your_name))
# your_name = str(input('enter your name'))
# print(your_name)
# print(type(your_name))
your_name = bool(int(input('enter your name')))
print(your_name)
print(type(your_name))

ValueError: invalid literal for int() with base 10: ''

In [46]:
# profile = 'name - ashok sahu
# job - software services
# village - girisola
# company - TCS
# '
# profile = "name - ashok sahu
# job - software services
# village - girisola
# company - TCS
# "
# profile = """name - ashok sahu
# job - software services
# village - girisola
# company - TCS
# """
profile = '''name - ashok sahu
job - software services
village - girisola
company - TCS
'''

print(profile)

name - ashok sahu
job - software services
village - girisola
company - TCS

string concatination

In [54]:
first_name = 'alekha'
last_name = 'nayak'

# full_name = first_name +" "+ last_name
# full_name = 'alekha' ' nayak'
full_name = f'{first_name} {last_name}'


print(first_name)
print(last_name)
print(full_name)

alekha
nayak
alekhanayak

getting values from a string

In [57]:
chars = 'tata consultancy services'
print(len(chars))
print(chars[0])
print(chars[1])
print(chars[2])
print(chars[3])
print(chars[4])
print(chars[5])
print(chars[6])
print(chars[7])
print(chars[8])
print(chars[9])
print(chars[10])
print(chars[11])
print(chars[12])
print(chars[13])
print(chars[14])
print(chars[15])
print(chars[16])
print(chars[17])
print(chars[18])
print(chars[19])
print(chars[20])
print(chars[21])
print(chars[22])
print(chars[23])
print(chars[24])
print(chars[25]) #out of range error

25
t
a
t
a

c
o
n
s
u
l
t
a
n
c
y

s
e
r
v
i
c
e
s

IndexError: string index out of range

In [63]:
company = 'tata consultancy services'


print(company)
print(company[0])
print(company[-25])

# company[0] = '0'
# print(company[0])

tata consultancy services
t
t

In [3]:
name = 'akash sahu'
print(name[0])
print(name[5])
print(name[6])

a

s

In [7]:
dual_quote_in_r_str = "i am a single quote\" variable"
print(dual_quote_in_r_str)

i am a single quote" variable